<!DOCTYPE html>
<html>
  <head>
    <title>TestBlogRoR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="wrapper">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <p class="notice"><%= msg %></p>
        <% else %>
          <p class="alert"><%= msg %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
